*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    margin: 1rem 30px;
}

.logo {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h4{
    font-weight: 300;
}

.nav-links {
    display: flex;
    width: 75%;
    justify-content: space-around;
    list-style: none;
    
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    color: black;
    opacity: 0.9;
    font-weight: 400;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
}



/* *************************************** Media Queries ***************************************** */

@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        height: 90vh;
        display: flex;
        flex-direction: column;
        top: 10vh;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}